@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap);

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size:  $base-font-size;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $base-font-size;
  background-color: $topic;
  color: $dark;
}

a {
  text-decoration: none;
  color: $primary;
}

ul {
  list-style-type: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

button {
  color: white;
  border: 0;
  background: $primary;
  border-radius: $base-border-radius;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: $light;
}

::-webkit-scrollbar-track {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #909090;
  width: 16px;
  min-height: 56px;
  border-radius: 8px;
  border: 4px solid $light;
}

.error {
  color: $error;
  // border-color: $error;
  // border-style: solid;
  // margin: $base-margin auto;
  padding: $base-padding;
  border-radius: $base-border-radius;
  // border-width: $base-border-thickness;
}

.notification {
  color: $secondary;
  border-color: $secondary;
  border-style: solid;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

.clickable {
  cursor: pointer;
}

.disable {
  background: #dddddd;
  pointer-events: none;
  opacity: 0.65;
}

.font-1 {
  font-family: Open+Sans, sans-serif;
}

.font-2 {
  font-family: Open+Sans, sans-serif;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.fs-italic {
  font-style: italic;
}

.shadow {
  box-shadow: $base-box-shadow;
}

.big-shadow {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
}

.text-shadow {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.transition {
  transition: all 0.35s ease-out;
}

.item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-block {
  display: none;
}

.hover-block:hover {
  display: block;
}

.animation {
  animation: fade 0.4s ease-out; 
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.border-none {
  border: none;
}