.autoOutletPatients {
  margin-left: 0;
}

@media (min-width: 720px) {
  .autoOutletPatients {
    margin-left: 10rem;
  }
  }

  @media (min-width: 1140px) {
    .autoOutletPatients {
      margin-left: 0;
    }
    }

    