
.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.customFileInput::before {
  content: 'Select some files';
  display: inline-block;
  // background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  // border: 1px solid #4FC5BE;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.customFileInput:hover::before {
  border-color: black;
}
.customFileInput:active::before {
  // background: -webkit-linear-gradient(to bottom, #e3e3e3, #f9f9f9);
}

.customFileInput {
  cursor: pointer;
}